/* codember 2023 */
.remember {
  display: flex; 
  align-items: center; 
  justify-content: center; 
  position: relative; 
  margin: auto; 
  width: fit-content; 
  border: 5px solid var(--color);
} 

.remember span {
  position: absolute; 
  display: flex; 
  flex-direction: column; 
  width: 75%; 
  align-items: stretch; 
  color: #fff; 
  mix-blend-mode:luminosity; 
  font-family: basic-sans, sans-serif; 
  text-transform: uppercase; 
  font-size: 8px; 
  line-height: normal; 
  letter-spacing: 1px; 
  text-align: justify; 
  text-align-last: justify;
} 

.remember strong {
  color: #fff; 
  font-family: map-roman-compressed, serif; 
  font-size: 18px; 
  text-shadow: 2px 2px var(--color); 
}

.long {
  background: linear-gradient(90deg, var(--main) 0%, var(--medium) 50%, var(--strong) 100%);
  width: fit-content;
  position: relative;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column-reverse;
  margin: auto;
  border-radius: 5px 10px;
  box-shadow: 2px 2px var(--strong);
}

.long img {
  display: inline;
  position: inherit;
  mix-blend-mode: hard-light;
  filter: brightness(0.6);
  border-radius: 5px 10px;
}

.long span {
  color: #111;
  z-index: 1;
  font-family: carbon, sans-serif;
  font-size: 10px;
  letter-spacing: 1px;
  text-shadow: 1px 1px rgba(255 255 255 / 30%);
  align-self: flex-end;
  line-height: 10px;
}

.decade {
  margin: 10px auto;
  position: relative;
  width: fit-content;
  box-shadow: 5px 5px var(--color);
}
.decade span {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  left: 20px;
  row-gap: 2px;
  bottom: 20px;
  width: 45%;
}
.decade p {
  line-height: normal !important;
  margin: 0;
  font-size: 8px;
  text-transform: uppercase;
  font-family: museo-sans-condensed !important;
  letter-spacing: 1px;
  background: #fff;
  padding: 2px 5px;
  mix-blend-mode: screen;
  font-weight: bold;
  transform: rotate(-1deg);
}
.decade p:nth-child(even) {
  transform: rotate(1deg);
}
.decade em {
  font-family: "espiritu";
  color: rgb(193 155 77);
  text-shadow: 1px 1px rgba(255 255 255 / 79%);
  font-size: 29px;
  mix-blend-mode: screen;
  text-transform: uppercase;
  font-style: normal;
  margin-top: 5px;
}
.time {
  width: fit-content;
  margin: auto;
  border: 5px solid var(--color);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  outline: 2px solid var(--color);
  outline-offset: -10px;
}
.time span {
  position: absolute;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "museo-sans-condensed";
  text-transform: uppercase;
  text-shadow: 1px 1px rgba(0 0 0 / 50%);
  font-weight: bold;
  width: 50%;
  text-align: center;
}
.time strong {
  font-family: timberline;
  text-transform: lowercase;
  font-size: 32px;
  line-height: 10px;
  font-weight: lighter;
  filter: blur(0.5px);
  opacity: 0.7;
  color: #fff;
}

/* hellfire */
@font-face {
    font-family: 'Awesome Snowflakes';
     src: url('https://thecozycorgi.github.io/fonts/Awesome Snowflakes.otf') format('opentype'), url('https://thecozycorgi.github.io/fonts/Awesome Snowflakes.ttf') format('ttf');
}
.veil-over {
  --veil: #116060;
   display: flex;
   align-items: center;
   justify-content: center;
   position: relative;
   width: fit-content;
   background: var(--veil);
   padding: 5px;
   margin: 10px auto;
   overflow: hidden;
}
.veil-over img:first-child {
  filter: grayscale(1);
   mix-blend-mode: hard-light;
}
.veil-over img:nth-child(2) {
  position: absolute;
   mix-blend-mode: lighten;
}
.veil-over span {
  position: absolute;
   font: 8px / normal arial;
   color: #fff;
   text-transform: uppercase;
   letter-spacing: 1px;
   display: flex;
   flex-direction: column;
   align-items: center;
   text-align: center;
}
.veil-over strong {
  font: 42px / 22px 'Awesome Snowflakes';
   text-transform: lowercase;
   letter-spacing: 0;
   color: var(--veil);
   mix-blend-mode: plus-lighter;
   -webkit-text-stroke: 0.2px #fff;
}
