/* codember 2023 */
@import url("https://use.typekit.net/tkg2roe.css");

.remember {
  display: flex; 
  align-items: center; 
  justify-content: center; 
  position: relative; 
  margin: auto; 
  width: fit-content; 
  border: 5px solid var(--color);
} 

.remember span {
  position: absolute; 
  display: flex; 
  flex-direction: column; 
  width: 75%; 
  align-items: stretch; 
  color: #fff; 
  mix-blend-mode:luminosity; 
  font-family: basic-sans, sans-serif; 
  text-transform: uppercase; 
  font-size: 8px; 
  line-height: normal; 
  letter-spacing: 1px; 
  text-align: justify; 
  text-align-last: justify;
} 

.remember strong {
  color: #fff; 
  font-family: map-roman-compressed, serif; 
  font-size: 18px; 
  text-shadow: 2px 2px var(--color); 
}
