@import url("https://use.typekit.net/hwd7mxc.css");

@font-face {
  font-family: 'Aelyn';
  src: url('https://thecozycorgi.github.io/fonts/Aelyn.otf') format('opentype');
}

@font-face {
  font-family: 'Imoger';
  src: url('https://thecozycorgi.github.io/fonts/imoger.otf') format('opentype');
}

@font-face {
  font-family: 'Humble';
  src: url('https://thecozycorgi.github.io/fonts/Humble.otf') format('opentype'),
    url('https://thecozycorgi.github.io/fonts/Humble.ttf') format('ttf');
}

@font-face {
  font-family: 'Vellago';
  src: url('https://thecozycorgi.github.io/fonts/Vellago.otf') format('opentype'),
    url('https://thecozycorgi.github.io/fonts/Vellago.woff') format('woff'),
    url('https://thecozycorgi.github.io/fonts/Vellago.ttf') format('ttf');
}

@font-face {
  font-family: 'bagola';
  src: url('https://thecozycorgi.github.io/fonts/Bagola.woff2') format('woff2'),
    url('https://thecozycorgi.github.io/fonts/Bagola.otf') format('opentype'),
    url('https://thecozycorgi.github.io/fonts/Bagola.woff') format('woff'),
    url('https://thecozycorgi.github.io/fonts/Bagola.ttf') format('ttf');
}

@font-face {
  font-family: 'Wilberty';
  src: url('https://thecozycorgi.github.io/fonts/Wilberty.otf') format('opentype');
}

.cozy-donna {
	--cd-uno: #5c445e; 
	--cd-dos: #718288; 
	--cd-str: #473a5b; 
    margin: 10px auto;
	display: flex;
	align-items: center;
	justify-content: center;
	width: fit-content;
	border: 5px solid var(--cd-str);
	background-color: var(--cd-uno);
	background-image: linear-gradient(62deg, var(--cd-uno) 0%, var(--cd-dos) 100%);
	position: relative;
	overflow: hidden;
}
 .cozy-donna img {
    width: 250px;
     filter: brightness(0.5);
     mix-blend-mode: luminosity;
}
 .cozy-donna > span {
    line-height: normal;
     text-align: justify;
     text-align-last: center;
     position: absolute;
     z-index: 1;
     display: flex;
     align-items: center;
     justify-content: center;
     margin: 25px;
	 hyphens: none;
}
 .cozy-donna em {
	 position: absolute;
     color: rgb(255 255 255 / 20%);
     font-size: 40px;
     font-family: 'Imoger';
     font-style: normal;
     line-height: 75%;
     text-align: center
}
 .cozy-donna strong {
	 color: #fff;
     text-transform: uppercase;
     font-family: 'Aelyn';
     letter-spacing: 1px;
     font-size: 10px;
     padding: 15px;
}

.cozy-harry {
	--ch-str: #0a2926;
	--ch-emph: #968270;
    position: relative;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px auto;
    background: var(--ch-str);
    padding: 5px;
    overflow: hidden;
}

.cozy-harry span {
    position: absolute;
    padding: 10px 20%;
    color: #fff;
    font-family: 'expressway';
    text-transform: uppercase;
    text-shadow: 1px 1px 1px rgb(0 0 0 / 75%);
    font-size: 7px;
    line-height: normal;
    text-align: end;
    display: flex;
    flex-direction: column;
    backdrop-filter: brightness(0.5);
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    mix-blend-mode: normal;
    letter-spacing: 1px;
    font-weight: 100;
    margin-left: 1000px;
    transition: 1.5s;
    transition-timing-function: ease-out;
}

.cozy-harry:hover span {
    margin-left: 0px;
    transition: .5s;
    transition-timing-function: ease-out;
}

.cozy-harry strong {
    font-size: 76px;
    text-transform: lowercase;
    font-family: 'Vellago';
    font-weight: normal;
    line-height: 120%;
    color: #fff !important;
    text-shadow: 5px 1px var(--ch-emph);
    margin-top: -15px;
    align-self: flex-start;
}

.cozy-dreams {
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px auto;
    position: relative;
    overflow: hidden;
    border: 5px solid rgb(0 0 0 / 10%);
}

.cozy-dreams em {
	position: absolute;
    z-index: 1;
    font-family: 'Wilberty';
    font-size: 124px;
    font-style: normal;
    color: #fff;
    letter-spacing: -1px;
    text-transform: lowercase;
    mix-blend-mode: exclusion;
    margin-top: -15px;
}

.cozy-dreams span {
    position: absolute;
    z-index: 2;
    font-family: 'bagola';
    color: #ffffff;
    padding: 10px 25%;
    text-align: center;
    text-shadow: 1px 1px 1px rgb(0 0 0 / 50%);
    letter-spacing: 2px;
    font-size: 18px;
    text-transform: lowercase;
    line-height: 120%;
}

.cozy-memories {
    --cm-str: #377d80;
    margin: 10px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    background: var(--cm-str);
    position: relative;
    padding: 5px;
}

.cozy-memories span {
    position: absolute;
    font-family: 'Armouk Regular';
    color: #fff;
    text-transform: uppercase;
    font-size: 24px;
    width: 140px;
    text-shadow: 1px 1px 1px rgba(0 0 0 / 50%);
    margin-left: 30px;
    height: 65px;
    display: flex;
    align-items: center;
    text-align: justify;
}

.cozy-memories strong {
    position: absolute;
    text-transform: uppercase;
    font-family: 'expressway';
    color: #fff;
    font-weight: normal;
    font-size: 10px;
    width: 65px;
    line-height: normal;
    hyphens: manual;
    text-align: center;
    rotate: -90deg;
    left: 20px;
    text-shadow: 1px 1px 1px rgba(0 0 0 / 50%);
}

.cozy-aurora {
    margin: 10px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    --ca-str: #FAACA8;
    --ca-emp: #DDD6F3;
    background-color: var(--ca-str);
    background-image: linear-gradient(19deg, var(--ca-str) 0%, var(--ca-emp) 100%);
    position: relative;
}

.cozy-aurora img {
    border: 10px solid var(--ca-str);
    filter: grayscale(1) brightness(0.5);
    mix-blend-mode: hard-light;
}

.cozy-aurora span {
    position: absolute;
    padding: 30px 50px;
    line-height: normal;
    color: #fff;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: justify;
    text-align-last: left;
    font-family: 'expressway';
    font-size: 9px;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 1px 1px 1px var(--ca-str);
    hyphens: none;
}

.cozy-aurora strong {
    color: rgba(255 255 255 / 0%);
    text-transform: math-auto;
    letter-spacing: 0;
    font-size: 72px;
    font-family: Bilagike;
    font-weight: 100;
    -webkit-text-stroke: .3px #fff;
    mix-blend-mode: luminosity;
    text-shadow: 2px 2px #8e8c8c;
    line-height: 45%;
}

/* davy */
.cz-davy {
	--davy: #39668f;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 10px auto;
	width: fit-content;
	position: relative;
	background: var(--davy);
	padding: 5px;
}

.cz-davy img {
    filter: brightness(0.6) grayscale(1);
    mix-blend-mode: hard-light;
}

.cz-davy span {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Humble';
    font-size: 35px;
    mix-blend-mode: soft-light;
    color: #fff;
}

.cz-davy u {
    text-decoration: none;
    font: normal 10px calibri;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: -10px;
}
