@import url("https://use.typekit.net/hwd7mxc.css");

@font-face {
  font-family: 'Aelyn';
  src: url('https://thecozycorgi.github.io/fonts/Aelyn.otf') format('opentype');
}

@font-face {
  font-family: 'Imoger';
  src: url('https://thecozycorgi.github.io/fonts/imoger.otf') format('opentype');
}

@font-face {
  font-family: 'Vellago';
  src: url('https://thecozycorgi.github.io/fonts/Vellago.otf') format('opentype'),
    url('https://thecozycorgi.github.io/fonts/Vellago.woff') format('woff'),
    url('https://thecozycorgi.github.io/fonts/Vellago.ttf') format('ttf');
}

.cozy-donna {
	--cd-uno: #5c445e; 
	--cd-dos: #718288; 
	--cd-str: #473a5b; 
    margin: 10px auto;
     display: flex;
     align-items: center;
     justify-content: center;
     width: fit-content;
     border: 5px solid var(--cd-str);
     background-color: var(--cd-uno);
     background-image: linear-gradient(62deg, var(--cd-uno) 0%, var(--cd-dos) 100%);
     position: relative;
     overflow: hidden;
}
 .cozy-donna img {
    width: 250px;
     filter: brightness(0.5);
     mix-blend-mode: luminosity;
}
 .cozy-donna > span {
    line-height: normal;
     text-align: justify;
     text-align-last: center;
     position: absolute;
     z-index: 1;
     display: flex;
     align-items: center;
     justify-content: center;
     margin: 25px;
}
 .cozy-donna em {
    position: absolute;
     color: rgb(255 255 255 / 20%);
     font-size: 92px;
     font-family: 'Imoger';
     font-style: normal;
     line-height: 75%;
     text-align: center
}
 .cozy-donna strong {
    color: #fff;
     text-transform: uppercase;
     font-family: 'Aelyn';
     letter-spacing: 1px;
     font-size: 10px;
     padding: 15px;
}

.cozy-harry {
	--ch-str: #0a2926;
	--ch-emph: #968270;
    position: relative;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px auto;
    background: var(--ch-str);
    padding: 5px;
    overflow: hidden;
}

.cozy-harry span {
    position: absolute;
    padding: 10px 20%;
    color: #fff;
    font-family: 'expressway';
    text-transform: uppercase;
    text-shadow: 1px 1px 1px rgb(0 0 0 / 75%);
    font-size: 7px;
    line-height: normal;
    text-align: end;
    display: flex;
    flex-direction: column;
    backdrop-filter: brightness(0.5);
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    mix-blend-mode: normal;
    letter-spacing: 1px;
    font-weight: 100;
    margin-left: 1000px;
    transition: 1.5s;
    transition-timing-function: ease-out;
}

.cozy-harry:hover span {
    margin-left: 0px;
    transition: .5s;
    transition-timing-function: ease-out;
}

.cozy-harry strong {
    font-size: 76px;
    text-transform: lowercase;
    font-family: 'Vellago';
    font-weight: normal;
    line-height: 120%;
    color: #fff !important;
    text-shadow: 5px 1px var(--ch-emph);
    margin-top: -15px;
    align-self: flex-start;
}

.cozy-dreams {
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px auto;
    position: relative;
    overflow: hidden;
    border: 5px solid rgb(0 0 0 / 10%);
}

.cozy-dreams em {
	position: absolute;
    z-index: 1;
    font-family: 'Wilberty';
    font-size: 124px;
    font-style: normal;
    color: #fff;
    letter-spacing: -1px;
    text-transform: lowercase;
    mix-blend-mode: exclusion;
    margin-top: -15px;
}

.cozy-dreams span {
    position: absolute;
    z-index: 2;
    font-family: 'bagola';
    color: #ffffff;
    padding: 10px 25%;
    text-align: center;
    text-shadow: 1px 1px 1px rgb(0 0 0 / 50%);
    letter-spacing: 2px;
    font-size: 18px;
    text-transform: lowercase;
    line-height: 120%;
}

.cozy-dreams img {
    filter: brightness(0.5);
}
/*
.cozy-dreams:before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    border: 3px solid #fff;
    top: -5px;
    left: -5px;
    z-index: 1;
    mix-blend-mode: exclusion;
}
*/
