@import url("https://use.typekit.net/mcd8ven.css");
@import url('https://cdn-uicons.flaticon.com/2.6.0/uicons-thin-rounded/css/uicons-thin-rounded.css');

@font-face {
  font-family: 'Marline';
  src: url('https://thecozycorgi.github.io/fonts/Marline.otf') format('opentype'),
    url('https://thecozycorgi.github.io/fonts/Marline.ttf') format('ttf');
}

@font-face {
  font-family: 'Rasfire Regular';
  src: url('https://thecozycorgi.github.io/fonts/Rasfire-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'fashion';
  src: url('https://thecozycorgi.github.io/fonts/Fashion.otf') format('opentype'),
    url('https://thecozycorgi.github.io/fonts/Fashion.ttf') format('ttf');
}
